/*
p{
    padding: 0;
    margin: 0;
}

.text1{
    color: blue;
    font-size: 15px;
    border: 2px red solid;
    margin bottom: 20px;
    padding: 10px 20px 10px 20px;
}

.text{
    color: red;
    font-size: 30px;
    border: 5px cornflowerblue solid ;
  

}

.text2{
    color: red;
    font-size: 14px;
    border: 1px blue solid;
}
*/

/* .table{
    border-collapse: collapse;
    background-image: linear-gradient(red, blue);
}

.head{
    border: 1px solid black;
    font-size: 50px;
    padding: 10px;
}

.cell{
    border: 1px solid black;
    font-size: 50px;
    padding: 10px;
} */

.table{
    border-collapse: collapse;
    background-image: linear-gradient(blue, white);
}

.ccc{
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    transition: .5s;
}
.ccc:hover{
    color: brown ;
    font-size: 60px;
}
