.wrapper{
    height: 100%;
    padding: 50px;
}
.block{

}
.block--row{
    align-content: center;
    margin: 0px, 0px, 20px, 0px;

}
.block--column{
    
}
.block--item9{
    background-color: red;
    pad: 50px;
    color: red;
    font-size: 50px;
    font-weight: 700;
}
.block--item8{
    background-color:green;
    pad: 50px;
    color: green;
    font-size: 50px;
    font-weight: 700;
}
.block--item7{
    background-color: blue;
    color: blue;
    font-size: 50px;
    font-weight: 700;
}

.wrapper1{
    height: 100%;
    padding: 50px;
}
.block1{

}
.block--column1{
    align-content: center;
    margin: 0px, 0px, 20px, 0px;
}
.block--column3{
    font-size: 50px;
    font-weight: 700;
    
}
.block--item1{
    background-color: blue;
    pad: 50px;
    color: black;
    font-size: 50px;
    font-weight: 700;
    display: inline-flex;
}
.wrapper2{
    height: 100%;
    padding: 50px;
}
.block--item2{
    background-color: rgb(0, 255, 76);
    pad: 50px;
    color: black;
    font-size: 50px;
    font-weight: 700;
}
.block--row2{
    background-color: black;
    display: inline-flex;
    border: 20px solid green;
    margin: 0px, 0px, 20px, 0px;
}
.block--item3{
    display: inline-flex;
    background-color: rgb(255, 230, 0);
        pad: 50px;
        color: black;
        font-size: 50px;
        font-weight: 700;
}