*{
   background-color:rgba(188, 143, 143, 0.144);
}

#thiss{
    background-color: rgba(190, 95, 95, 0.5);
}

.name{
    color:rgb(190, 95, 95);
    background-color: rgb(84, 111, 116);
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.this{
    color:rgba(0, 0, 0, 0.548);
    font-size: 20px;
}

.img{
    width: 300px;
   border-radius: 90px;
}
