/* .paragraph{
    border: 1px red solid;
}

.block,{
    height: 50px;
    width: 50px;
    display: inline-block; 
}

.inline{
    
} */
.header{
    width: 500px;
    height: 500px;
    margin:0 auto;
    background-color: rgba(188, 143, 143, 0.253);
    margin-top: 10px;
}

/* .content{
    width: 500px;
    height: 500px;
    margin:0 auto;
    background-color: rgba(188, 143, 143, 0.253);
    margin-top: 10px;
}

.footer{
    width: 500px;
    height: 500px;
    margin:0 auto;
    background-color: rgba(188, 143, 143, 0.253);
    margin-top: 10px;
} */
/* .red{
    background-color: red;
    width: 500px;
    height: 65px;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.inline{
    display: inline-block;
    width: 33%;
    height: 100px;
    float: left;

}
.top-block{
    width: 500px;
    height: 160px;
}
.head{
    text-align: center;
}

.container{
    width: 1170px;
    margin:0 auto;
    background-color: rgba(188, 143, 143, 0.253);
}

.midle-top .inline{
    
}
 */
.container{
    border: 5px solid black;
    width: 500px;
    margin-bottom: 30px;
}
.red{
    background-color: red;
    width: 100%;
    height: 70px;
}
.green{
    background-color: green;
    width: 100%;
    height: 70px;
}
.blue{
    background-color: blue;
    width: 100%;
    height: 70px;
}

.top{
    border: 1px solid black;
    overflow: hidden;
}
.middle-red{
    width: 33.3333%;
    height: 70px;
    background-color: red;
    display: inline-block;
    float: left;
}
.middle-blue{
    width: 33.3333%;
    height: 70px;
    background-color: blue;
    display: inline-block;
    float: left;
}
.middle-green{
    width: 33.3333%;
    height: 70px;
    background-color: green;
    display: inline-block;
    float: left;
}
.yellow{
    background-color: yellow;
    width: 100%;
    height: 70px;
}

.grey{
    width: 50%;
    height: 70px;
    background-color: grey;
    display: inline-block;
    float: left;
}
.black{
    width: 50%;
    height: 70px;
    background-color: black;
    display: inline-block;
    float: left;
}
.container1{
    background-color: rgba(127, 255, 212, 0.452);
    border: 5px solid black;
    width: 600px;
    margin-bottom: 30px;
}
.new-red{
    margin: 21px;
    width: 150px;
    height: 150px;
    background-color: red;
    display: inline-block;
}
.new-green{
    margin: 21px;
    width: 150px;
    height: 150px;
    background-color: green;
    display: inline-block;
}
.new-blue{
    margin: 21px;
    width: 150px;
    height: 150px;
    background-color: blue;
    display: inline-block;
}